table {
  border-collapse: collapse;
}
thead {
  background-color: lightgray;
}
tbody tr:nth-child(2n+1) {
  font-family: sans-serif;
}
td, th {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  text-align: center;
  padding: .2em .5em;
}
