:root {
  font-size: 1em;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

list-grouper {
  display: flex;
  background-color: lightgray;
}

table {
  border: 1px solid lightgray;
  border-collapse: collapse;
  font-size: 1rem;
}

/* Some classes set in javascript. */
.oe-word {
  font-weight: bold;
}

.oe {
  font-family: sans-serif;
  letter-spacing: .09em;
  word-spacing: .12em;
  font-size: .9rem;
  line-height: 1.8;
}

td {
  border: 1px solid lightgray;
  padding: .2em 1em;
  vertical-align: baseline;
}

