:root {
  font-size: 1em;
  box-sizing: border-box;

  --hue: 40;
  --sat: 40%;
  --light: 85%;
  --color: hsl(var(--hue), var(--sat), var(--light));
}

*, ::before, ::after {
  box-sizing: inherit;
}

list-group {
  display: flex;
  flex-wrap: wrap;
  /*background-color: var(--color);*/
}

list-group li {
  max-width: 30em;
}
list-group .oe li {
  padding: .2em 0;
}

list-group .idxhover {
  background-color: var(--color);
}

table {
  border: 1px solid lightgray;
  border-collapse: collapse;
  font-size: 1rem;
}

/* Some classes set in javascript. */
.oe-word {
  font-weight: bold;
}

.oe {
  font-family: sans-serif;
  letter-spacing: .09em;
  word-spacing: .12em;
  font-size: .9rem;
  line-height: 1.4;
}

pre.oe {
  line-height: 1.8;
}

td {
  border: 1px solid lightgray;
  padding: .2em 1em;
  vertical-align: baseline;
}

