@import "main.css";

#bodycontent {
  max-width: 1320px;
}

article.brunms {
  padding-left: .5em;
  padding-right: .5em;
}

article.brunms > footer {
  list-style-position: inside;
  margin: 1em;
}

p {
  margin-bottom: 0.8em;
}

.maintext {
  column-width: 40ch;
}

.folios {
  margin: .5em;
  padding: .5em 1em;
  background-color: DarkSlateGray;
}

.folios h2 {
  margin-bottom: .5em;
  color: #e7e0d6;  /* page clip color in image */
}

.folios footer {
  font-size: .8em;
  margin: 1em 0;
  padding: .5em;
  background-color: #e7e0d6;  /* page clip color in image */
}

.foliogallery {
  display: flex;  /* outer */
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
  align-items: stretch;
  row-gap: 30px;
}

.foliogallery figure {
  flex: 0 0 min-content; /* as item of outer flexbox */
  display: flex;  /* nested */
  flex-direction: column;
  width: min-content;
  margin: 0;
}

.foliogallery figcaption {
  flex: 1; /* as item of nested flexbox */
  margin: 0 0 4px 0;
  width: 100%;
  word-wrap: break-word;
  hyphens: auto;
  background-color: #e7e0d6;  /* page clip color in image */
  padding: .5em;
}

.foliogallery img {
  display: block;
  max-width: none;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 4px;
}

